body {
  margin: 0;
}
.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #6f6af7;
  color: white;
  font-family: "DM Sans";
  font-size: 1.5rem;
  font-weight: 400;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 10rem;
  align-items: center;
}

.Dapper {
  padding-left: 2rem;
  padding-right: 2rem;
}

.middle-navagtion {
  display: flex;
  gap: 2rem;
  align-items: center;
}

a:link {
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
}
a:active {
  text-decoration: none;
  color: white;
}

.Dapper {
  font-family: "Delius Unicase";
  font-size: 2rem;
  font-weight: bold;
}

#search-bar {
  border-radius: 3rem;
  border: none;
  height: 2rem;
  width: 15rem;
  background-image: url("search_icon.png");
  background-repeat: no-repeat;
  background-position: 12.5rem;
}

::placeholder {
  padding-left: 2rem;
}

#navigation-image {
  width: 2.5rem;
  height: 2rem;
  padding-right: 2rem;
}

.main {
  display: flex;
}

.main-text {
  padding: 2rem 2rem 2rem 2rem;
  margin-top: 5rem;
  flex: 1;
}

.social-container {
  padding-top: 15rem;
}

.social-media-logo {
  position: sticky;
  top: 8em;
}

.image-text {
  display: flex;
  align-items: center;
  gap: 2rem;
}

#main-image {
  width: 20rem;
  height: 25rem;
}

#text-box {
  height: 20rem;
  flex: 1;
  border-radius: 1rem;
  text-align: left;
  padding: 1rem;
  font-size: 1rem;
  background: #e5d8ff;
  color: #6f7373;
  resize: none;
  border: none;
  box-shadow: 3px 5px 27px 0px #00000040 inset;
}

.total-details-box {
  display: flex;
  padding-bottom: 4rem;
  justify-content: space-between;
  width: 100%;
  font-family: "DM Sans";
}

.total-questions,
.total-answers,
.participated,
.total-passed {
  border: 2px solid black;
  width: 15%;

  font-size: 1rem;
  padding-left: 1rem;
  border-radius: 0.4rem;
  color: white;
  box-shadow: 0px 9px 31px 0px #00000066;
}

.total-questions {
  background: #929dff;
  border-color: #929dff;
}

.total-answers {
  background: #734cf2;
  border-color: #734cf2;
}

.participated {
  background-color: #d288ff;
  border-color: #d288ff;
}

.total-passed {
  background: #000000;
  border-color: #000000;
}

.person-details {
  display: flex;
  background: #483eff;
  height: 25rem;
  border-radius: 1rem;
}

.button-textbox {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.information-table {
  width: 60%;
  margin: 1rem;
  border-radius: 1rem;
  background-color: #ffffff;
  display: flex;
}

.table-details {
  width: 80%;
}

.table {
  padding-left: 4rem;
  font-size: 1.2rem;
}

.column1 {
  font-weight: bold;
}

td {
  padding: 0.3rem;
}

.table-header {
  padding-left: 3rem;
  font-family: "Inter";
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.105em;
  text-align: left;
}

.next-button {
  height: 3rem;
  width: 7rem;
  font-size: 1rem;
  margin-top: 18rem;
  border-radius: 0.2rem;
  background-color: #000000;
  color: #ffffff;
}

.arrow-image {
  width: 1rem;
}

.info,
.bookmarks,
.settings {
  width: 15rem;
  height: 5rem;
  border-radius: 1rem;
  background: #483eff;
  border: 2px solid white;
  color: white;
  font-weight: 600;
}

.info {
  background: #bce0f6;
  color: #000000;
  border: none;
  box-shadow: 0px 6px 35px 0px #00000063;
}

#headset-icon {
  position: fixed;
  bottom: 0;
  right: 2rem;
  width: 8rem;
}

.whatsapp,
.facebook,
.twitter {
  border: 0.2rem solid #000000;
  border-radius: 0.5rem;
  width: 3rem;
}
